.podItempending {
  background-color: var(--color-grey-bright);
}
.podItemworking {
  background-color: var(--color-pink-bright);
}
.podItemcomplete {
  background-color: var(--color-complete);
}

.flagIssue {
  background-color: var(--color-issue);
}
.flagQa {
  background-color: var(--color-qa);
}


.icon {
  max-height: 0.8em;
  max-width: 0.8em;
}
.icon path {
  fill: var(--color-white);
}

.iconUser {
  max-height: none;
  max-width: none;
  transform: scale(1.6) translateY(0.1em)
}
