.main {
  --size-icon: 1.6rem;
  --width-pad-outer: 0.8rem;
  --width-pad-inner: 0.6rem;
  --height-pad-vert: 0.2rem;

  display: flex;
  flex-direction: row;
}

.link {
  color: var(--color-text);
  text-decoration: none;
  background-color: var(--color-grey-light);
  margin-right: 0.5rem;
  min-height: var(--size-touch-min);
  min-width: var(--size-touch-min);
  padding: var(--height-pad-vert) var(--width-pad-outer);
  display: flex;
  align-items: center;
  font-weight: var(--font--weight-bold);
  max-width: 13rem;
}

.userIcon {
  border: 2px solid var(--color-white);
  border-radius: 50%;
  height: var(--size-icon);
  width: var(--size-icon);
  margin-right: var(--width-pad-inner);
  /* margin: 0 var(--width-pad-inner) 0 var(--width-pad-outer); */
}

.userIcon path {
  transform: translateY(1px); /* temp fix for annoying svg */
}

.switcher {
  position: relative;
  background-color: var(--color-grey-light);
  color: var(--color-text);
}

.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  background-color: var(--color-bg);
  color: transparent;
  height: var(--size-touch-min);
  width: var(--size-touch-min);
  font-size: var(--text-normal);
  font-weight: var(--font--weight-bold);
  line-height: 1.3em;
  border: 0;
  cursor: pointer;
  white-space: normal;
  text-align-last: right;
}
.select::-ms-expand {
  display: none;
}
.select:focus {
  outline: 2px solid var(--color-white);
  outline-offset: -2px;
}

.select option {
  font-weight: var(--font--weight-normal);
  color: var(--color-text);
  /* direction: rtl;  */
}

.iconWrapper {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.icon {
  height: 1rem;
  width: 1rem;
  transform: rotate(90deg);
}
