.line {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lineItem {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.itemTitle {
  margin: 0;
}