.main {
  margin-top: 5rem;
}

.queuesContainer {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .queuesContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.queue {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .queue {
    width: calc((100% - 1rem) / 2);
    margin-right: 1rem;
  }
  .queue:nth-child(even) {
    margin-right: 0;
  }
}

@media (min-width: 1080px) {
  .queue {
    width: calc((100% - 2rem) / 3);
    margin-right: 1rem;
  }
  .queue:nth-child(even) {
    margin-right: 1rem;
  }
  .queue:nth-child(3n) {
    margin-right: 0;
  }
}

.sessionsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sessionItem {
  margin-bottom: 0.7rem;
}
