.main {
  margin-top: 5rem;
  width: 100%;
}

.queuesContainer {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .queuesContainer {
    flex-direction: row;
    overflow: scroll;
  }
}

.queue {
  margin-bottom: 1rem;
}

/* @media (min-width: 768px) {
  .queue {
    width: calc((100% - 1rem) / 2);
    margin-right: 1rem;
  }
  .queue:nth-child(even) {
    margin-right: 0;
  }
} */

@media (min-width: 768px) {
  .queue {
    width: calc((100% - 2rem) / 3);
    min-width: 20rem;
    margin-right: 1rem;
  }
  /* .queue:nth-child(even) {
    margin-right: 1rem;
  } */
  .queue:nth-child(3n) {
    margin-right: 0;
  }
}

.sessionSection,
.sessionSubSection,
.sessionsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sessionItem {
  margin-bottom: 0.7rem;
}

.sectionTitle {
  border-bottom: 1px solid var(--color-white);
  margin: 0 0 0.5rem 0;
  padding: 0 0 0.2rem 0;
}
/* .sectionTitleOverdue {
  background-color: var(--color-red);
  padding: 0.2rem;
} */

.subDectionTitle {
  text-transform: capitalize;
  margin: 0 0 0.5rem 0;
  padding: 0 0 0.2rem 0;
  border-bottom: 1px solid var(--color-grey-transp);
}
