.sessionsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 50%;
}

.sessionItem {
  margin-bottom: 1rem;
}

.sessionInner {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-grey-bright);
}
