.wrapper {
  --color-stopwatch: var(--color-white);
}

.label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.label::before,
.label::after {
  content: "";
  display: inline-block;
  height: 0.4em;
  width: 1.1em;
  background-color: var(--color-stopwatch);
}

.labelInner {
  font-size: 0.8em;
  padding: 0 0.6em 0.1em 0.6em;
}

.time {
  border: 0.2rem solid var(--color-stopwatch);
  padding: 0.2rem 0.7rem 0.3rem 0.7rem;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  line-height: 1em;
}
