.itemWrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.6rem;
  width: 100%;
}

.itemWrapSpaceNone {
  margin-bottom: 0;
}

.itemWrapSpaceTop {
  margin: 0.6rem 0 0 0;
}

.itemWrapSpaceBoth {
  margin: 0.6rem 0;
}

.label {
  font-size: var(--text-normal);
  font-weight: var(--font--weight-normal);
  padding: 0 0 0.3rem 0;
  margin: 0;
}

.fieldWrap {
  display: flex;
  flex-direction: row;
  position: relative;
}

.field {
  display: inline-block;
  min-height: var(--size-touch-min);
  min-width: var(--size-touch-min);
  max-width: 100%;
  border: 0;
  padding: 0.5rem;
  flex-grow: 1;
  font-family: var(--font-default);
}

.field:focus {
  outline: 2px solid var(--color-pink-bright);
  outline-offset: -3px;
}

/* textarea */
.fieldText {
  min-height: 3.5rem;
  resize: none;
  font-size: var(--text-normal);
  font-family: var(--font-default);
}

/* number */
.fieldWrapNumber {
  background-color: var(--color-white);
  border-radius: 1rem;
}

.fieldNumber {
  text-align: center;
  font-size: var(--text-larger);
  -moz-appearance: textfield;
  margin: 0 0.2rem;
}
.fieldNumber::-webkit-outer-spin-button,
.fieldNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* select */
.fieldSelect {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  padding: 0.5rem calc(var(--size-touch-min) + 1rem) 0.5rem 1rem;
  border-radius: 0;
  font-size: var(--text-normal);
  line-height: 1.3em;
}

.fieldSelect::-ms-expand {
  display: none;
}

.fieldSelect option {
  font-weight: var(--font--weight-normal);
}

.fieldExtraBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: var(--size-touch-min);
  background-color: var(--color-pink-bright);
  pointer-events: none;
}

.fieldSelectArrow {
  transform: rotate(90deg);
}

/* radio buttons */
.radioGroup {
  display: flex;
  flex-direction: column;
}
.radioItem {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-bottom: 0.5rem;
}

.radioInput,
.radioLabel {
  display: inline-block;
  min-height: var(--size-touch-min);
  min-width: var(--size-touch-min);
}

.radioInput {
  padding: 1rem;
}

.radioLabel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

.radioLabelText {
  padding-left: 0.5rem;
}

/* toggle button */
.toggleButton {
  --width-toggle-border: 2px;

  display: flex;
  flex-direction: row;
}

.toggleButton .radioItem {
  margin-bottom: 0;
}

.toggleButton .radioInput {
  display: none;
}

.toggleButton .radioLabel {
  background-color: var(--color-white);
  color: var(--color-text-alt);
  flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
  border: var(--width-toggle-border) solid var(--color-pink-light);
  margin-right: calc(var(--width-toggle-border) * -1);
}
.toggleButton .radioItem:last-child .radioLabel {
  margin-right: 0;
}

.toggleButton .radioInput:checked + .radioLabel {
  background-color: var(--color-pink-light);
  color: var(--color-text-alt);
  border-color: var(--color-pink);
  text-shadow: 1px 0 0 var(--color-text-alt);
  z-index: 1;
  /* box-shadow: 0 0 5px 0 #000000; */
}

.toggleButton .radioLabelText {
  padding: 0.5rem;
}

/* checkboxes */
.checkboxInput {
  min-height: var(--size-touch-min);
  min-width: var(--size-touch-min);
  cursor: pointer;
}

/* date */
.fieldDate {
  font-family: var(--font-default);
  font-size: 1em;
  padding: 0.5rem calc(var(--size-touch-min) + 1rem) 0.5rem 1rem;
}

.fieldDate::-webkit-inner-spin-button,
.fieldDate::-webkit-calendar-picker-indicator {
  /* display: none;
  -webkit-appearance: none; */
  opacity: 0;
}
