.itemWrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  width: 100%;
}

.label {
  font-size: var(--text-normal);
  font-weight: normal;
  padding: 0 0 0.3rem 0;
  margin: 0;
}

.fieldWrap {
  display: flex;
  flex-direction: row;
  position: relative;
}

.field {
  display: inline-block;
  min-height: var(--size-touch-min);
  min-width: var(--size-touch-min);
  max-width: 100%;
  border: 0;
  padding: 0.5rem;
  flex-grow: 1;
}

.field:focus {
  outline: 2px solid var(--color-pink-bright);
  outline-offset: -3px;
}

/* textarea */
.fieldText {
  min-height: 3.5rem;
  resize: none;
  font-size: var(--text-normal);
  font-family: var(--font-default);
}

/* number */
.fieldNumber {
  text-align: center;
  font-size: var(--text-larger);
  -moz-appearance: textfield;
}
.fieldNumber::-webkit-outer-spin-button,
.fieldNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* select */
.fieldSelect {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  padding: 0.5rem calc(var(--size-touch-min) + 1rem) 0.5rem 1rem;
  border-radius: 0;
  font-size: var(--text-normal);
  line-height: 1.3em;
}

.fieldSelect::-ms-expand {
  display: none;
}

.fieldSelect option {
  font-weight: normal;
}

.fieldSelectBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: var(--size-touch-min);
  background-color: var(--color-pink-bright);
  pointer-events: none;
}

.fieldSelectArrow {
  transform: rotate(90deg);
}

.fieldSelectArrow path {
  fill: var(--color-white);
}
