/* @import '../../settings.css'; */

.container {
  border-collapse: collapse;
  width: 100%;
}

.header {
  background-color: var(--color-accent);
}

.headerItem {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 0.3rem 0.1rem;
}

.itemRow {
  background-color: var(--color-fg);
}

.runItem {
  text-align: center;
  padding: 0rem 0.1rem;
}

.itemTitle {
  font-weight: bold;
  background-color: var(--color-grey-bright);
  border-top: 0.5rem solid var(--color-bg);
  padding: 0.3rem 1rem;
  height: var(--size-touch-min);
}

.alignLeft {
  text-align: left;
}
