.button {
  --width-icon-spacing: 0.75rem;
  --color-copy: var(--color-white);

  display: inline-flex;
  border: none;
  padding: 0.25rem 1rem;
  margin: 0;
  text-decoration: none;
  background-color: var(--color-accent);
  color: var(--color-copy);
  font-family: var(--font-default);
  cursor: pointer;
  text-align: center;
  transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out,
    outline 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;

  text-transform: uppercase;
  font-weight: var(--font--weight-bold);
  font-size: var(--text-larger);

  min-height: var(--size-touch-min);
  min-width: var(--size-touch-min);

  flex-direction: row;
  justify-content: center;
  align-items: center;

  outline: 1px solid transparent;
  box-shadow: 0 0 0 0 var(--color-grey-transp);

  border-radius: 0.3rem;
}

.button:hover,
.button:focus {
  background: var(--color-grey-bright);
  box-shadow: 0 0 0.05rem 0.05rem var(--color-grey-transp);
}

.button:focus {
  outline: 1px solid var(--color-white);
  outline-offset: -0.1rem;
}

.button:active {
  transform: scale(0.99);
}

.button:disabled {
  opacity: 0.5;
}

.buttonFillWidth {
  width: 100%;
}

.hasIcon {
  text-align: left;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.iconOnly {
  justify-content: center;
}
.iconOnly .iconWrapper {
  margin-left: 0;
}

.featured {
  text-align: center;
  flex-direction: column;
  padding-bottom: 0.5rem;
}
.featured .iconWrapper {
  margin: var(--width-icon-spacing) 0 0 0;
}

.iconFirst {
  flex-direction: row-reverse;
}
.iconFirst .iconWrapper {
  margin-right: var(--width-icon-spacing);
  margin-left: 0;
}

.colorCancel {
  background-color: var(--color-cancel);
}
.colorQa {
  background-color: var(--color-qa);
}
.colorNote {
  background-color: var(--color-note);
}
.colorIssue {
  background-color: var(--color-issue);
}
.colorBlocker,
.colorDelete {
  background-color: var(--color-blocker);
}
.colorComplete {
  background-color: var(--color-complete);
}
.colorAssign {
  background-color: var(--color-assign);
}

/* Copy */
/* .copy {
} */

/* Icon */
.iconWrapper {
  width: 1.6rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: var(--width-icon-spacing);
  flex-shrink: 0;
}
.icon {
  min-height: 1.6rem;
  min-width: 1.6rem;
}
