.wrapper {
  display: inline-flex;
  flex-direction: row;
  vertical-align: middle;
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  align-content: stretch;
  width: 100%;
  justify-content: center;
}

.flags {
  display: flex;
  flex-direction: row-reverse;
}
