.wrapper {
  --border-width: 0.15em;
  --core-size: 1.6em;
  --flag-width: calc((var(--core-size)) * 1.5);
  --speed-change: 0.5s;
  --easing-change: ease;

  display: inline-flex;
  flex-direction: row;
  vertical-align: middle;
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.core {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);
  height: var(--core-size);
  min-width: var(--core-size);
  text-align: center;
  border: var(--border-width) solid var(--color-white);
  border-radius: calc(var(--core-size) / 2);
  line-height: 1em;
  position: relative;
  z-index: 10;
  align-self: flex-start;
  transition: background-color var(--speed-change) var(--easing-change);
}

.core--pending {
  background-color: var(--color-grey-bright);
}
.core--working {
  background-color: var(--color-pink-bright);
}
.core--paused {
  background-color: orange;
}

.core--skipped,
.core--complete {
  background-color: forestgreen;
}

.flags {
  display: flex;
  flex-direction: row-reverse;
}

.flag {
  margin-left: calc(var(--core-size) * -1);
  border-radius: calc(var(--core-size) / 2);
  width: var(--core-size);
  transition: all var(--speed-change) var(--easing-change);
  display: inline-flex;
  justify-content: center;
  padding-left: 0;
  z-index: 9;
}

/* .wrapper:hover .flag, */
.flagActive {
  width: calc((var(--core-size) / 2) + var(--flag-width));
  padding-left: calc(var(--core-size) - var(--border-width));
}

.flagIssue {
  background-color: red;
}
.flagQa {
  background-color: orange;
}
.flagUser {
  /* background-color: blue; */
}
.flagUserWorking {
  background-color: var(--color-pink-bright);
}

.inner {
  color: var(--color-white);
  vertical-align: middle;
  font-size: 0.9em;
  padding: 0 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  max-height: 0.8em;
  max-width: 0.8em;
}
.icon path {
  fill: var(--color-white);
}
