.wrapper {
  display: inline-flex;
  flex-direction: row;
  /* vertical-align: middle; */
  position: relative;
  /* align-items: flex-end; */
  margin-right: 0;
  transition: all 0.5s ease;
  /* text-align: right; */
  font-size: 1rem;

  --border-width: 0.15em;
  --core-size: 1.6em;
  --flag-width: calc((var(--core-size)) * 1.5);
}

.core {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);
  height: var(--core-size);
  min-width: var(--core-size);
  text-align: center;
  border: var(--border-width) solid var(--color-white);
  border-radius: calc(var(--core-size) / 2);
  line-height: 1em;
  position: relative;
  z-index: 10;
  align-self: flex-start;
}

.core--pending {
  opacity: 50%;
}
.core--working {
  background-color: var(--color-pink-bright);
}
.core--paused {
  background-color: orange;
}

.core--skipped,
.core--complete {
  background-color: forestgreen;
}

.flagholder {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: calc(var(--core-size) * -1);
  /* margin-top: -10px; */
  transition: all 0.5s ease;
  z-index: 1;
}

.wrapper:hover .flag {
  width: calc((var(--core-size) / 2) + var(--flag-width));
}

.wrapper:hover .flagholder {
  margin-left: calc((var(--flag-width)) - (var(--core-size) / 2));
}

.wrapper > .flagholder,
.wrapper:hover > .flagholder {
  margin-top: 0;
  margin-left: calc(var(--core-size) * -1);
}

.flag {
  margin-left: 0;
  border-radius: calc(var(--core-size) / 2);
  width: var(--core-size);

  transition: all 0.5s ease;
  display: inline-flex;
  justify-content: flex-end;
  padding-right: 0.5em;
  z-index: 9;
  background-color: red;
}

.inner {
  color: var(--color-white);
  vertical-align: middle;
  font-size: 0.9em;
  padding: 0 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  max-height: 0.8em;
  max-width: 0.8em;
}
.icon path {
  fill: var(--color-white);
}
