.activityList {
  list-style-type: none;
  margin: 0 0 0.5rem 0;
  padding: 0;
}

.activityItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--color-grey-bright);
  margin-top: 0.2rem;
}

.colActivity {
  flex: 1 1 auto;
}

.colItem,
.colDefective {
  width: 5rem;
  flex: 0 0 auto;
  text-align: center;
}
