.progBar {
  --color-bar: var(--color-grey-light);
  --color-bg-active: var(--color-pink-bright);
  --color-text-active: var(--color-text);
  --color-bg-inactive: var(--color-grey-dark);
  --color-text-inactive: var(--color-text);
  --height-bar: 3rem;
  /* --height-bar: 4.1rem; */
  --height-bar-half: calc(var(--height-bar) / 2);
  --time-anim: 250ms;
  --width-item-gap: 0.3rem;
  --width-button-pad: 0.4rem;

  margin: 0;
  /* padding: 0 var(--width-item-gap); */
  padding: 0;
  display: flex;
  flex-direction: row;
  background-color: var(--color-bar);
}
.progBarTable {
  display: table-row;
}

.progItem {
  list-style-type: none;
  flex-grow: 1;
  margin-right: var(--width-item-gap);
}

.progBtn {
  display: inline-block;
  border: none;
  padding: 0.3rem var(--width-button-pad) 0.3rem calc(var(--width-button-pad) + (var(--height-bar-half) * 0.6));
  min-height: var(--height-bar);
  /* height: 5rem; */
  margin: 0;
  text-decoration: none;
  background-color: var(--color-bg-inactive);
  color: var(--color-text-inactive);
  font-family: var(--font-default);
  cursor: pointer;
  text-align: center;
  transition: background-color var(--time-anim) ease-in-out,
    color var(--time-anim) ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100%;
  font-size: 1rem;
  position: relative;
  overflow: visible;
}

.progBtn::before,
.progBtn::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  height: var(--height-bar);
  transform-origin: left center 0;
  transform: scaleX(0.6) translateY(-50%);
}

.progBtn::before {
  left: 0;
  border-left: var(--height-bar-half) solid var(--color-bar);
  border-top: var(--height-bar-half) solid transparent;
  border-bottom: var(--height-bar-half) solid transparent;
}

.progBtn::after {
  left: 100%;
  border-top: var(--height-bar-half) solid transparent;
  border-bottom: var(--height-bar-half) solid transparent;
  border-left: var(--height-bar-half) solid var(--color-bg-inactive);
  z-index: 20;
  transition: border-color var(--time-anim) ease-in-out;
}

.progItem:first-child .progBtn {
  padding-left: var(--width-button-pad);
}
.progItem:first-child .progBtn::before {
  display: none;
}
.progItem:last-child {
  margin-right: 0;
}
.progItem:last-child .progBtn::after {
  display: none;
}

/* .progBtnStarted {
  background-color: var(--color-pink);
} */
/* .progBtnStarted::after {
  border-left-color: var(--color-pink);
} */

.progBtnActive, .progBtn:focus {
  color: var(--color-text-active);
  background-color: var(--color-bg-active);
}
.progBtnActive::after, .progBtn:focus::after {
  border-left-color: var(--color-bg-active);
}

/* .progBtn:hover,
.progBtn:focus {
  background: var(--color-fg);
} */
/* 
.progBtn:active {
  transform: scale(0.99);
} */

.progBtn:focus {
  outline: 0;
}

.btnLabel {
  /* font-weight: bold; */
  /* font-size: var(--text-larger); */
  display: inline-block;
  text-transform: uppercase;
  /* font-size: var(--text-smaller); */
  font-size: 0.8rem;
  padding-bottom: 0.1rem;
}
.progBtn:focus .btnLabel {
  text-decoration: underline;
}
