.progBar {
  --color-bar: var(--color-grey-bright);
  --color-bg-active: var(--color-pink-bright);
  --color-text-active: var(--color-text);
  --color-bg-inactive: var(--color-grey-dark);
  --color-text-inactive: var(--color-text);
  --height-bar: var(--size-touch-min);
  --height-bar-half: calc(var(--height-bar) / 2);
  --time-anim: 250ms;
  --width-item-gap: 0.3rem;
  --width-button-pad: 0.4rem;
  --width-arr-spacing: 0.5rem;

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--color-bar);
  border: var(--width-item-gap) solid var(--color-bar);
}
@media (min-width: 768px) {
  .progBar {
    flex-direction: row;
  }
}

.progItem {
  list-style-type: none;
  flex-grow: 1;
  flex-basis: 0;
  margin-bottom: var(--width-item-gap);
}
@media (min-width: 768px) {
  .progItem {
    margin-right: var(--width-item-gap);
    margin-bottom: 0;
  }
}

.progBtn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  border: none;
  padding: 0.4rem calc((var(--width-arr-spacing) * 2) + var(--height-bar))
    0.4rem calc(var(--width-button-pad) + (var(--height-bar-half) * 0.6));
  /* min-height: var(--size-touch-min); */
  min-height: var(--height-bar);
  margin: 0;
  text-decoration: none;
  background-color: var(--color-bg-inactive);
  color: var(--color-text-inactive);
  font-family: var(--font-default);
  cursor: pointer;
  text-align: left;
  transition: background-color var(--time-anim) ease-in-out,
    color var(--time-anim) ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100%;
  font-size: 0.8rem;
  position: relative;
  overflow: visible;
  height: 100%;
}

.progBtn::before,
.progBtn::after {
  content: "";
  display: block;
  position: absolute;
  left: calc(100% - var(--width-arr-spacing));
  height: var(--height-bar);
  transform-origin: left top 0;
  transform: scaleY(0.6) rotate(90deg);
}

.progBtn::before {
  top: 0;
  border-left: var(--height-bar-half) solid var(--color-bar);
  border-top: var(--height-bar-half) solid transparent;
  border-bottom: var(--height-bar-half) solid transparent;
}

.progBtn::after {
  top: 100%;
  border-top: var(--height-bar-half) solid transparent;
  border-bottom: var(--height-bar-half) solid transparent;
  border-left: var(--height-bar-half) solid var(--color-bg-inactive);
  z-index: 20;
  transition: border-color var(--time-anim) ease-in-out;
}

.progItem:first-child .progBtn::before {
  display: none;
}
.progItem:last-child .progBtn::after {
  display: none;
}

@media (min-width: 768px) {
  .progBtn {
    padding-right: var(--width-button-pad);
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
  .progBtn::before,
  .progBtn::after {
    top: 50%;
    transform-origin: left center 0;
    transform: scaleX(0.6) translateY(-50%);
  }
  .progBtn::before {
    left: 0;
  }
  .progBtn::after {
    left: 100%;
  }
  .progItem:first-child .progBtn {
    padding-left: var(--width-button-pad);
  }
  .progItem:last-child {
    margin-right: 0;
  }
}

/* .progBtnStarted {
  background-color: var(--color-pink);
} */
/* .progBtnStarted::after {
  border-left-color: var(--color-pink);
} */

.progBtnActive,
.progBtn:focus,
.progBtn:hover {
  color: var(--color-text-active);
  background-color: var(--color-bg-active);
}
.progBtnActive::after,
.progBtn:focus::after,
.progBtn:hover::after {
  border-left-color: var(--color-bg-active);
}

/* .progBtn:active {
  transform: scale(0.99);
} */

.progBtn:focus {
  outline: 0;
}

.btnLabel {
  display: inline-block;
  text-transform: uppercase;
  padding-right: 0.3rem;
  flex-basis: 30%;
}
.progBtn:focus .btnLabel {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .btnLabel {
    display: none;
    padding-bottom: 0.3rem;
    padding-right: 0;
  }
  .btnLabel:only-child {
    padding-bottom: 0;
  }
  .showLabel {
    display: block;
  }
}

.status {
  flex-grow: 1;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
