.itemInfo {
  background-color: var(--color-grey-bright);
  padding: 0.3rem 1rem;
  display: flex;
  align-items: center;
  min-height: var(--size-touch-min);
  height: 100%;
  width: 100%;
}

.itemTitle {
  font-weight: bold;
  margin: 0;
}
