.runInfo {
  color: var(--color-text);
  background-color: var(--color-grey-bright);
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;
}
@media (min-width: 768px) {
  .runInfo {
    flex-direction: row;
  }
}

.runInfoMini {
  padding: 0.3rem;
  height: 100%;
  min-height: var(--size-touch-min);
}

.runInfoSec {
  display: flex;
  flex-direction: column;
}

/* Product Info 
------------------------------------ */
.runInfoProd {
  flex-grow: 1;
  padding-bottom: 1em;
}
.runInfoMini .runInfoProd {
  justify-content: center;
}
@media (min-width: 768px) {
  .runInfoProd {
    padding-bottom: 0;
    padding-right: 1em;
  }
}

.runInfoTitle {
  font-weight: var(--font--weight-normal);
  margin: 0;
  padding: 0;
  font-size: var(--text-smaller);
}

.runInfoName {
  margin: 0;
  padding: 0;
  font-size: var(--text-large);
  max-width: 45rem;
  flex-grow: 1;
  font-weight: var(--font--weight-bold);
}

.runInfoMini .runInfoName {
  font-size: var(--text-larger);
  flex-grow: 0;
}
@media (min-width: 768px) {
  .runInfoMini .runInfoName {
    padding-left: 0.7rem;
  }
}

.runInfoItem {
  margin: 0;
  font-weight: var(--font--weight-normal);
}

/* Run Info
------------------------------------ */
.runInfoRun {
  border-top: 1px solid var(--color-white);
  padding-top: 1em;
  flex-shrink: 0;
}
@media (min-width: 768px) {
  .runInfoRun {
    padding-top: 0;
    border-top: none;
    border-left: 1px solid var(--color-white);
    padding-left: 1em;
  }
}

.infoBox {
  flex-grow: 1;
  margin-bottom: 1em;
}
