.sessionPlaceholder {
  height: 100%;
  border: 0.2rem solid var(--color-grey-bright);
  border-top-width: 2.2rem;
}

.readOnly {
  padding: 1rem;
  background-color: var(--color-grey-light);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.userInput {
  padding: 1rem;
}

.userInputForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.notesField {
  flex: 30% 1 1;
  margin-right: 2rem;
  max-width: 22rem;
}

.numberFieldsWrap {
  flex: auto 1 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.numberField {
  width: 10rem;
  margin-right: 2rem;
}
.numberField:last-child {
  margin-right: 0;
}
