.modalOuter {
  --width-modal-border: 0.2rem;
  --width-modal-padding: 1rem;
  --height-modal-padding: 0.6rem;
  --size-modal-margin: 1rem;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-modal);
  background-color: var(--color-grey-transp);
}

.modalInner {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--color-bg);
  transform: translate(-50%, -50%);

  max-height: calc(100vh - (var(--size-modal-margin) * 2));
  max-width: calc(100vw - (var(--size-modal-margin) * 2));
  min-width: 30vw;
  overflow: scroll;
}

.titleHeader {
  background-color: var(--color-grey-bright);
  padding: var(--height-modal-padding) var(--width-modal-padding);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
  font-size: var(--text-largest);
}

.titleClose {
  margin-left: 1rem;
}

.content {
  padding: var(--width-modal-padding);
}

.contentWithTitle {
  border-top: 0;
}

.controlsFooter {
  background-color: var(--color-grey-bright);
  padding: var(--height-modal-padding) var(--width-modal-padding);
}
