.siteHeader {
  min-height: 3.1rem;
  background-color: var(--color-pink);
  width: 100%;
  z-index: 100;
  /* z-index: 1000; */
  display: flex;
  justify-content: center;
  position: relative;
}

.inner {
  max-width: var(--width-site);
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--width-site-padding);
}

/* @media (min-width: 768px) {
  .sidebarTrigger {
    display: none;
  }
} */

.siteLogoWrapper {
  padding: 0.2rem;
}
.siteLogo {
  height: 3rem;
  width: 3rem;
  border: 1px solid var(--color-white);
  border-radius: 50%;
  background-color: var(--color-pink-bright);
}

@media (min-width: 768px) {
  .siteLogoWrapper {
    height: 3rem;
    overflow: visible;
    padding-top: 0.3rem;
    padding-bottom: 0;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .siteLogo {
    height: 6rem;
    width: 6rem;
    border-width: 2px;
  }
}
