.sessionInner {
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-grey-light);
}

.sessionInfo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.runTitle {
  margin: 0 0.7rem;
}

.runName {
  margin: 0 0 0.2em 0;
  font-size: var(--text-normal);
  padding: 0;
}

.runId {
  font-weight: var(--font--weight-normal);
  font-size: var(--text-smaller);
  margin: 0;
  padding: 0;
}
