.wrapper {
  display: flex;
  flex-direction: row;
}
.wrapper > * {
  margin-right: 0.75rem;
}
.wrapper > *:last-child {
  margin-right: 0;
}

.wrapperVert {
  flex-direction: column;
}
.wrapperVert > * {
  margin-bottom: 0.75rem;
  margin-right: 0;
}
.wrapperVert > *:last-child {
  margin-bottom: 0;
}
