.stage {
  padding: 1rem;
  background-color: var(--color-fg);
}

/* Header */
.stageHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid var(--color-white);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.stageTitleWrap {
  display: flex;
  align-items: baseline;
}
.stageTitle {
  margin: 0;
  padding-right: 0.5rem;
}
.stageStatus {
  margin: 0;
}

.stageDifficulty {
  margin: 0;
}

/* Session */
.sessionHolder {
  display: flex;
}

.sessionControl,
.stageControl {
  width: 10rem;
}

.sessionView {
  flex-grow: 1;
  padding: 0 1rem;
  min-height: 15rem;
}
