.stage {
  padding: 1rem;
  background-color: var(--color-fg);
}

/* Header */
.stageHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid var(--color-grey-bright);
  padding-bottom: 0.2rem;
  margin-bottom: 1rem;
}

.stageTitleWrap {
  display: flex;
  align-items: baseline;
}
.stageTitle {
  margin: 0;
  padding-right: 0.5rem;
}

.stageDifficulty {
  margin: 0;
}

/* Main */
.sessionHolder {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .sessionHolder {
    flex-direction: row;
    align-items: stretch;
  }
}

/* Stage Control */
.stageControl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stageStatus {
  margin: 0;
}

/* Session Viewer */
.sessionView {
  flex-grow: 1;
  background-color: var(--color-grey-dark);
  margin: 1rem 0;
  min-height: 10rem;
}

@media (min-width: 768px) {
  .sessionControl,
  .stageControl {
    width: 10rem;
    flex-shrink: 0;
  }
  .sessionView {
    margin: 0 1rem;
    min-height: 15rem;
  }
}

/* Temp */
.sessionControl {
  order: 1;
}
.stageControl {
  order: 3;
}
.sessionView {
  order: 2;
}
