.assList {
  list-style-type: none;
  margin: 0 0 0.5rem 0;
  padding: 0;
}

.assItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--color-grey-bright);
  margin-top: 0.3rem;
}

.colMain {
  flex: 1 1 auto;
}

.main {
  padding: 0.5rem;
}

.itemTitle {
  font-size: 1.1rem;
  margin: 0 0 0.5rem 0;
}

.itemNote {
  margin: 0;
}

.colAction,
.colResolve {
  width: 5rem;
  flex: 0 0 auto;
}

.resolve {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem 0;
}

.checkbox {
  margin: 0;
}
