.sessionTitle {
  margin: 0;
  background-color: var(--color-pink-bright);
  color: var(--color-white);
  margin: 0;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: var(--text-larger);
}

.session {
  border: 0.2rem solid var(--color-pink-bright);
  border-top: none;
  min-height: 15rem;
  background-color: var(--color-grey-dark);
}

.sessionPlaceholder {
  height: 100%;
  border: 0.2rem solid var(--color-grey-bright);
  border-top-width: 2.2rem;
}

.readOnly {
  padding: 1rem;
  background-color: var(--color-grey-light);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.readOnlyList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.userInput {
  padding: 1rem;
}

.userInputForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.notesField {
  flex: 50% 1 1;
  margin-right: 2rem;
  max-width: 22rem;
}

.numberFieldsWrap {
  flex: auto 1 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.numberField {
  width: 10rem;
  margin-right: 2rem;
}
.numberField:last-child {
  margin-right: 0;
}
