.duration {
  white-space: nowrap;
}

.separatorTicking {
  animation: smoothBlinker 2s ease 0s infinite;
}

@keyframes smoothBlinker {
  0% {
    opacity: 1;
  }
  46% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  96% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
