.container {
  background-color: var(--color-grey-light);
  height: 100%;
}

.header {
  background-color: var(--color-pink-light);
  color: var(--color-text-alt);
  padding: 0.5rem;
}

.title {
  margin: 0;
  padding: 0;
}

.inner {
  padding: 0.7rem;
}
