.formMain {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .formMain {
    flex-direction: row;
  }
}

.userFields, .readOnly {
  min-width: 20rem;
}

.userFields {
  margin-right: 1rem;
}

.readOnly {
  background-color: var(--color-fg);
  padding: 0.5rem;
  width: 100%;
}

.readOnlyTitle {
  margin: 0;
}

@media (min-width: 768px) {
  .readOnly {
    width: 25rem;
  }
}
