.pageContent {
  overflow: auto;
  min-height: 100vh;
  max-width: var(--break-extra);
  margin: 0 auto;
  padding: 0 1rem;
}

.siteHeader {
  min-height: 3.1rem;
  background-color: var(--color-pink-bright);
  width: 100%;
}

.listControls {
  padding: 0.5rem 0;
  display: flex;
}
.filterControls {
  flex-grow: 1
}
.otherControls {
  flex-grow: 0
}