@import-normalize;
@import './settings.css';

html {
  box-sizing: border-box;
}

body {
  background-color: #575253;
  color: var(--color-text);
  font-family: var(--font-default);
  font-size: 16px;
  margin: 0;
}

#root {
  min-height: 100vh;
}

*, :after, :before {
  box-sizing: inherit;
}
