@import-normalize;
@import './settings.css';

html {
  box-sizing: border-box;
}

body {
  background-color: #575253;
  color: var(--color-text);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

*, :after, :before {
  box-sizing: inherit;
}
