:root {
  /* Colours */
  --color-white: #ffffff;
  --color-black: #000000;

  --color-grey-dark: #575253;
  --color-gray-light: #5d5758;

  --color-pink-bright: #eb257b;

  /* Color reassignments */
  --color-text: var(--color-white);
  --color-text-alt: var(--color-grey-dark);

  --color-accent: var(--color-pink-bright);

  --color-bg: var(--color-grey-dark);
  --color-fg: var(--color-gray-light);

  /* Fonts */
  --font-default: 'Myriad Pro', Verdana, Geneva, Tahoma, sans-serif;

  /* 16pt */
  --text-normal: 1rem;
  /* 18pt */
  --text-larger: 1.125rem;

  /* Sizes */
  --size-touch-min: 2.7rem;

  /* Break points */
  --break-extra: 1280px;
  --break-laptop: 1024px;
  --break-tablet: 768px;
  --break-phone: 320px;
}