:root {
  /* Colours */
  --color-white: #ffffff;
  --color-black: #000000;

  --color-grey-darker: #373737;
  --color-grey-dark: #575253;
  --color-grey-light: #5d5758;
  --color-grey-bright: #6f7271;
  --color-grey-transp: rgba(150, 150, 150, 0.8);

  --color-pink-bright: #ea407b;
  --color-pink: #eda3aa;
  --color-pink-light: #fae8e8;

  --color-blue: #5bc0eb;

  --color-orange: #ff9000;

  --color-red: #eb0052;

  --color-green: #04ab5b;

  /* Color reassignments */
  --color-text: var(--color-white);
  --color-text-alt: var(--color-grey-dark);

  --color-accent: var(--color-pink-bright);

  --color-bg: var(--color-grey-dark);
  --color-fg: var(--color-grey-light);

  --color-cancel: var(--color-grey-darker);
  --color-qa: var(--color-blue);
  --color-note: var(--color-pink);
  --color-issue: var(--color-orange);
  --color-blocker: var(--color-red);
  --color-complete: var(--color-green);

  /* Fonts */
  --font-default: "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
    sans-serif;

  /* 12pt */
  --text-smaller: 0.8em;
  /* 16pt */
  --text-normal: 1em;
  /* 18pt */
  --text-larger: 1.125em;
  /* 24pt */
  --text-large: 1.375em;

  /* Break points */
  --break-extra: 1440px;
  --break-desktop: 1280px;
  --break-laptop: 1024px;
  --break-tablet: 768px;
  --break-phone: 320px;

  /* Sizes */
  --size-touch-min: 2.7rem;
  --width-site: var(--break-extra);
  --width-site-min: var(--break-phone);
  --width-site-padding: 1rem;

  /* Z-Indexes */
  --z-modal: 200;
}
