:root {
  /* Colours */
  --color-white: #ffffff;
  --color-black: #000000;

  --color-grey-dark: #575253;
  --color-grey-light: #5d5758;
  --color-grey-bright: #6f7271;

  --color-pink-bright: #ea407b;
  --color-pink: #eda3aa;
  --color-pink-light: #fae8e8;

  /* Color reassignments */
  --color-text: var(--color-white);
  --color-text-alt: var(--color-grey-dark);

  --color-accent: var(--color-pink-bright);

  --color-bg: var(--color-grey-dark);
  --color-fg: var(--color-grey-light);

  /* Fonts */
  --font-default: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

  /* 16pt */
  --text-normal: 1em;
  /* 18pt */
  --text-larger: 1.125em;

  /* Sizes */
  --size-touch-min: 2.7rem;

  /* Break points */
  --break-extra: 1440px;
  --break-desktop: 1280px;
  --break-laptop: 1024px;
  --break-tablet: 768px;
  --break-phone: 320px;
}