.item {
  --border-width: 2px; /* Pixels used to prevent rounding errors */
  --core-size: 1.6em;
  --flag-width: calc(((var(--core-size)) * 2) - var(--border-width));
  --speed-change: 0.5s;
  --easing-change: ease;

  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
  background-color: var(--color-bg);
  min-height: var(--core-size);
  min-width: var(--core-size);
  text-align: center;
  border: var(--border-width) solid var(--color-white);
  border-radius: calc(var(--core-size) / 2);
  line-height: 1em;
  position: relative;
  z-index: 10;
  transition: background-color var(--speed-change) var(--easing-change);
  overflow: hidden;
}

.itemLabel {
  margin-bottom: calc(var(--border-width) * -1);
  min-width: 7rem;
  width: 100%;
}

.itemFlag {
  margin-left: calc(var(--core-size) * -1);
  border-radius: calc(var(--core-size) / 2);
  max-width: var(--core-size);
  transition: all var(--speed-change) var(--easing-change);
  display: inline-flex;
  justify-content: center;
  padding-left: 0;
  z-index: 9;
}

.itemFlag.itemVert {
  margin-left: 0;
  margin-top: calc(var(--core-size) * -1);
  max-width: none;
  min-width: none;
}

.itemFlagActive {
  max-width: 10rem;
  min-width: var(--flag-width);
  padding-left: calc(var(--core-size) - var(--border-width));
}
.itemFlagActive.itemVert {
  padding-left: 0;
  max-height: 10rem;
  min-height: var(--flag-width);
  padding-top: calc(var(--core-size) - var(--border-width));
}


.inner {
  vertical-align: middle;
  font-size: 0.9em;
  padding: 0.1em 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerText {
  padding-left: 0.4em;
  padding-right: 0.4em;
}
