@import "../../settings.css";

.runEditor {
  position: fixed;
  /* top: 0;
  left: 100vw;
  right: -100vw;
  bottom: 0; */

  top: 100vh;
  right: 0;
  bottom: -100vh;
  left: 0;

  background-color: var(--color-bg);
  padding: 1rem;
  overflow: scroll;
  max-height: 100vh;
  transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
}

.runEditorActive {
  /* left: 0vw;
  right: 0vw; */

  top: 0vh;
  bottom: 0vh;
}

.runInfo {
  background-color: var(--color-grey-bright);
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-top: 1em;
}
@media (min-width: 768px) {
  .runInfo {
    flex-direction: row;
  }
}

.runInfoSec {
  display: flex;
  flex-direction: column;
}

/* Product Info */
.runInfoProd {
  flex-grow: 1;
  padding-bottom: 1em;
  min-height: 6rem;
}
@media (min-width: 768px) {
  .runInfoProd {
    padding-bottom: 0;
    padding-right: 1em;
  }
}

.runInfoTitle {
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: var(--text-smaller);
}

.runInfoName {
  margin: 0 0 0.5rem 0;
  padding: 0;
  font-size: var(--text-large);
  flex-grow: 1;
  max-width: 45rem;
}

.runInfoItem {
  margin: 0;
  font-weight: normal;
}

/* Run Info */
.runInfoRun {
  border-top: 1px solid var(--color-white);
  padding-top: 1em;
  flex-shrink: 0;
}
@media (min-width: 768px) {
  .runInfoRun {
    padding-top: 0;
    border-top: none;
    border-left: 1px solid var(--color-white);
    padding-left: 1em;
  }
}


.infoBox {
  flex-grow: 1;
  margin-bottom: 1em;
}
