@import '../../settings.css';

.runEditor {
  position: fixed;
  /* top: 0;
  left: 100vw;
  right: -100vw;
  bottom: 0; */

  top: 100vh;
  right: 0;
  bottom: -100vh;
  left: 0;

  background-color: var(--color-bg);
  padding: 1rem;
  overflow: scroll;
  max-height: 100vh;
  transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
}

.runEditorActive {
  /* left: 0vw;
  right: 0vw; */

  top: 0vh;
  bottom: 0vh;
}

.runInfo {
  background-color: var(--color-grey-bright);
  display: flex;
  flex-direction: row;
  padding: 1em;
  margin-top: 1em;
}
/* 
.runInfoSec {
} */

.runInfoProd {
  flex-grow: 1;
  padding-right: 1em;
}

.runInfoRun {
  border-left: 1px solid var(--color-white);
  padding-left: 1em;
}

.runInfoTitle {
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: var(--text-larger);
}

.runInfoName {
  margin: 0;
  padding: 0;
  font-size: 1.3em;
}