.button {
  /* display: inline-block; */
  border: none;
  /* padding: 0.65rem; */
  margin: 0;
  text-decoration: none;
  background-color: var(--color-grey-bright);
  color: var(--color-text);
  font-family: var(--font-default);
  cursor: pointer;
  text-align: center;
  transition: background-color 250ms ease-in-out, 
              color 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;

  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3em 0.5em;
  margin: 0 auto;
}

.button:hover,
.button:focus {
  background-color: var(--color-accent);
}

.button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.button:active {
  transform: scale(0.99);
}

.button:disabled {
  opacity: 0.5;
}

.buttonStageActive {
  background-color: var(--color-pink);
  color: var(--color-text-alt);
}
.buttonStageActive:hover,
.buttonStageActive:focus {
  color: var(--color-text);
}


.label {
  padding-top: 0.2rem;
  min-width: 3.9rem;
}