.wrapper {
  width: 100%;
  background-color: var(--color-bg);
  border: 0.5rem solid var(--color-bg);
  min-width: 60rem;
}

.tableHeader {
  display: none;
}
@media (min-width: 768px) {
  .tableHeader {
    display: block;
  }
}

@media (min-width: 768px) {
  .colNumber {
    flex: 0 0 4rem;
  }
  .colActivity {
    flex: 1 1 auto;
    /* min-width: 20rem; */
  }
  .colStartTime {
    flex: 0 0 7rem;
  }
  .colDuration {
    flex: 0 0 7rem;
  }
  .colItemsGood {
    flex: 0 0 5rem;
  }
  .colItemsBad {
    flex: 0 0 5rem;
  }
  .colTech {
    flex: 0 0 10rem;
  }
  .colAction {
    flex: 0 0 4rem;
  }
  .colInfo {
    flex: 0 0 4rem;
  }
}

.tableItemRow {
  background-color: var(--color-fg);
  /* border-top: 0.5rem solid var(--color-bg); */
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  border-left: 0.5rem solid transparent;
}

.tableItemRowUnresolved {
  /* border-top: 0.3rem solid transparent; */
  /* border-bottom: 0.3rem solid transparent; */
  background-color: var(--color-grey-bright);
}

.tableItemRow--work {
  border-color: var(--color-pink-bright);
}
.tableItemRow--qa {
  border-color: var(--color-qa);
}
.tableItemRow--issue {
  border-color: var(--color-issue);
}
.tableItemRow--activate,
.tableItemRow--deactivate,
.tableItemRow--consign {
  border-color: var(--color-complete);
}

.tableItemRowTotals {
  background-color: var(--color-grey-darker);
  color: var(--color-text);
}

.tableContentItem {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  min-height: calc(var(--size-touch-min) + (2 * 0.2rem));
}

.date,
.time {
  white-space: nowrap;
}
