.container {
  border-collapse: collapse;
  width: 100%;
  background-color: var(--color-bg);
  margin-top: 1rem;
  border: 0.5rem solid var(--color-bg);
}

.header {
  background-color: var(--color-accent);
}

.headerItem {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 0.3rem 0;
}

.headerItem, .contentItem {
  padding-left: 1rem;
  padding-right: 1rem;
}

.itemRow {
  background-color: var(--color-fg);
  margin: 0 1rem;
}

.contentItem {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 0.5rem solid var(--color-bg);
  font-size: 1em;
}

.alignLeft {
  text-align: left;
}