.container {
  border-collapse: collapse;
  width: 100%;
  background-color: var(--color-bg);
  margin-top: 3rem;
  border: 0.5rem solid var(--color-bg);
}

.header {
  background-color: var(--color-accent);
}

.headerItem {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 0.3rem 0.5rem;
}

.headerItemItems {
  width: 10%;
}

.itemRow {
  background-color: var(--color-fg);
  /* margin: 0 1rem; */
}

.itemRow .contentItem:first-child:before {
  content: "";
  display: block;
  width: 0.4rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.itemRow--work .contentItem:first-child:before {
  background-color: var(--color-pink-bright);
}
.itemRow--qa .contentItem:first-child:before {
  background-color: var(--color-qa);
}
.itemRow--issue .contentItem:first-child:before {
  background-color: var(--color-issue);
}
.itemRow--activate .contentItem:first-child:before,
.itemRow--deactivate .contentItem:first-child:before,
.itemRow--consign .contentItem:first-child:before {
  background-color: var(--color-complete);
}

.itemRowTotals {
  background-color: var(--color-grey-bright);
  color: var(--color-text);
}

.contentItem {
  text-align: center;
  padding: 0.2em;
  border-top: 0.5rem solid var(--color-bg);
  font-size: 1em;
  position: relative;
}

.contentItemName {
  width: 20%;
}

.alignLeft {
  text-align: left;
}

.date,
.time {
  white-space: nowrap;
}
